body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}
