/* Styles for the page */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  text-align: center;
}

/* Styling for the Goku image */
#goku-image {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Button Styling */
button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff9900;
}

button:focus {
  outline: none;
}
